<div id="corpsdepage">
    <div class="partiecorps">
        <h1> O'Squad project </h1>
        <div>
            <iframe src="https://player.vimeo.com/video/296345402" allowfullscreen></iframe>
        </div>
        <div class="source"> Source : <a href="https://vimeo.com/296345402" target="_blank"> Vimeo </a></div>
        The O'Squad project is a formation offers to the most implicated and motivate students by Shamy and Karl Lewis. This formation is more than a simple lesson. A follow-up is set up to promote progression of these members. <br /> Add to the trainning, Origin's crew provide dates for show. It permits to the O'Squad students to have a professional dancer experience.
        <table>
            <tr>
                <td><img src="~/Content/photos_membres/shamy.jpg" alt="Shamy" class="photo" /></td>
                <td><img src="~/Content//photos_membres/karllewis.jpg" alt="karl lewis" class="photo" /></td>
            </tr>
            <tr>
                <td><h2> Shamy </h2></td>
                <td><h2> Karl Lewis </h2></td>
            </tr>
        </table>
        O'Squad project have already few members with differents experience, level and age.
        <table>
            <tr><td><img src="~/Content//photos_membres/ben.jpg" alt="Ben" class="photosolo" /></td></tr>
            <tr><td><h2> Ben </h2></td></tr>
        </table>
        <table>
            <tr><td><img src="~/Content//photos_membres/grims.jpg" alt="Grim's" class="photosolo" /></td></tr>
            <tr><td><h2> Grim's </h2></td></tr>
        </table>
        <table>
            <tr>
                <td><img src="~/Content//photos_membres/tristan.jpg" alt="Tristan" class="photo" /></td>
                <td><img src="~/Content//photos_membres/nayel.jpg" alt="Nayel" class="photo" /></td>
            </tr>
            <tr>
                <td><h2> Tristan </h2></td>
                <td><h2> Nayel </h2></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><img src="~/Content//photos_membres/gaelle.jpg" alt="Gaëlle" class="photo" /></td>
                <td><img src="~/Content//photos_membres/lucia.jpg" alt="Lucia" class="photo" /></td>
            </tr>
            <tr>
                <td><h2> Gaëlle </h2></td>
                <td><h2> Lucia </h2></td>
            </tr>
        </table>
        <div>
            <iframe src="https://player.vimeo.com/video/308077678" width="640" height="360" allowfullscreen></iframe>
        </div>
        <div class="source"> Source : <a href="https://vimeo.com/308077678" target="_blank"> Vimeo </a></div>
    </div>
</div>
