#menuPresta {
    color: white;
    border-bottom: 3px solid red;
}


fieldset
{
	padding-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
}

#pays
{
	margin-bottom: 30px;
}

#bouttonchoixrep
{
	margin-bottom: 30px;
}

#Choix_TempsPresta, #Choix_Occurence, #Choix_Budget
{
	text-align: center;
}


#nomIncorrect, #prenomIncorrect, #emailIncorrect, #telephoneIncorrect, #cpIncorrect
{
    color: red;
}

#cgu {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#valideCgu {
    height: 1.4em;
    width: 1.4em;
    margin-top: 0.5em;
}


/* Propriété pour les mobile */

@media all and (max-device-width: 480px) {

    #bouttonchoixrep 
    {
        flex-direction: column;
        text-align: left;
    }
}


