#menuHome {
    color: white;
    border-bottom: 3px solid red;
}

.photo
{
	width: 80%;
	height: auto;
}

.photosolo 
{
    width: 70%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
}

table
{
	margin-top: 20px;
	margin-bottom: 20px;
}