@font-face 
{
	font-family: 'red_rose';
	src: url('police/RedRose-Regular.ttf');
}

@font-face
{
	font-family: 'ebbing';
	src: url('police/ebbing.ttf');
}

@font-face
{
	font-family: 'timeburner';
	src: url('police/timeburnernormal.ttf');
}

@font-face
{
	font-family: 'quantum';
	src: url('police/quantum.otf');
}



body
{
	color: white;
	background-color: black;
	margin: 5px 0 5px 0;
}

#logoOrigin
{
	text-align: center;
	font-family: ebbing;
	font-size: 100px;
	margin-bottom: 30px;
}

.logo
{
	color: white;
}


#logoObro, #logoOsqua
{
	width: 50%;
	text-align: center;
	font-family: quantum;
	font-size: 50px;
	margin-bottom: 50px;
}

.langue
{
	float: right;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 5%;
	height: auto;
}

#deconnexion 
{
    float: left;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 5%;
    height:  auto;
}

#corpsdepage {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	box-shadow: inset 0px 0px 35px 5px #000000;
	background-color: lightgrey;
}

.partiecorps
{
	width: 100%;
	font-family: red_rose;
	text-align: center;
	color: black;
	padding-bottom: 50px;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 2%;
	font-size: 18px;
	line-height: 25px;
}

#copyright
{
	margin-top: 5px;
}

#list_copyright
{
	border-top: 1px solid grey;
	padding-top: 5px;
	font-family: arial;
	font-size: 9px;
	padding-left: 10px;
}

#lien_footer
{
	color: white;
}

a
{
	color: grey;
	text-decoration: none;
}

a:hover
{
	color: white;
    text-decoration: none;
}

h1
{
	font-family: quantum;
	font-size: 35px;
	font-weight: bold;
	padding-bottom: 25px;
}

h2
{
	font-family: quantum;
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 20px;
}

strong
{
	font-weight: bold;
}

address
{
	font-style: italic;
}

iframe
{
	width: 70%;
	height: 360px;
	margin-top: 20px;
}

.source
{
	font-size: 9px;
	color: grey;
}

.field-validation-error 
{
    color: red;
}

.erreur
{
    color: red;
    text-align: center;
}

.selfCenter {
	margin-left: auto;
	margin-right: auto;
}

.champsInputText {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
	border: 1px solid lightgrey;
}

.champsInputText:focus {
	box-shadow: 0px -1px 20px -5px rgba(0,0,0,0.3);
	outline-color: darkgray;
}

.champsTextArea {
	text-align: left;
	min-height: 15rem;
}

.labelText {
	margin-top: 15px;
	padding-top: 10px;
}

.bouton {
	border-radius: 5px;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.bouton:hover {
	box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
	font-style: italic;
	cursor: pointer;
}

.bouton:focus {
	outline-color: darkgray;
}

.inputRadio {
	margin-top: 0.5rem;
}

.allWidth {
	width: 100%;
}


/* Propriété pour les écrans mobile */
@media all and (max-device-width: 480px) {
	.partiecorps
	{
		width: 100%;
		margin: 0 0 0 0;
        font-size: 15px;
	}

	.langue
	{
		top: 2%;
		width: 10%;
		height: auto;
	}

    iframe {
        margin-top: 5px;
        width: 90%;
        height: auto;
    }
}