<div id="corpsdepage">
    <img src="~/Content/image/precedentblanc.png" alt="precedent" id="precedent" onclick="precedente()" />
    <img src="~/Content/image/suivantblanc.png" alt="suivant" id="suivant" onclick="suivante()" />
    <div class="partiecorps membre" style="display: block;">
        <h1> Shamy </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Name </strong></td>
                                <td> Shamy </td>
                            </tr>
                            <tr>
                                <td><strong> Speciality </strong></td>
                                <td> Tricks </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a href="https://vimeo.com/181960076" target="_blank"><img src="~/Content/photos_membres/shamy.jpg" alt="shamy" class="photomembre" /></a>
                    </td>
                </tr>
            </table>

            <ul class="palmares">
                <li class="titre"><h2> <a href="~/ContentCV/cvShamy.pdf" class="cv" target="_blank">Curriculum Vitae</a> </h2></li>
            </ul>
            <table>
                <tr>
                    <td><strong>2014</strong></td>
                    <td> - Founder of the company Origin's</td>
                </tr>
                <tr class="topligne">
                    <td><strong>2012</strong></td>
                    <td>
                        <table>
                            <tr><td> - Founder of the company Dark Unit (hip hop dance and martial arts)</td></tr>
                            <tr><td> - Champion of France withe Dark Unit at the R16</td></tr>
                            <tr><td> - Vice-champion Europe with Dark Unit at the R16 </td></tr>
                            <tr><td> - Winner of 2 emissions Danse Street play on France O </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2010/2014</strong></td>
                    <td>
                        <table>
                            <tr><td> - Formation co-choregrapher and chorégrapher at La Manufacture d'Aurillac by Lowriz Vo Trung N'gon (Cie Achak) </td></tr>
                            <tr><td> - Founder of 2 production : "Le jeu" and "Par être uni" </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2007</strong></td>
                    <td> - Dancer at the show : Cléopâtre to the Zénith of Clermont-Ferrand (63) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2006</strong></td>
                    <td> - Tour "Sound Summer Tour" (Cie FX Team) </td>
                </tr>
            </table>

            <div class="titre"><h2> Other </h2></div>
            <div class="autre">
                Shamy gives also hip hop lessons in differents places :
                <ul class="listeCours">
                    <li class="lieuxCours"> foyer rural de Sayat since 2006 </li>
                    <li class="lieuxCours"> municipale school in Chamalières since 2011 </li>
                    <li class="lieuxCours"> recreation center Anatole France in Clermont-Ferrand since 2013 </li>
                    <li class="lieuxCours"> during the TAP in 4 primary school in Chamalières since 2013 </li>
                    <li class="lieuxCours"> in the center La Gauthière and culture in Clermont-Ferrand since 2015 </li>
                    <li class="lieuxCours"> un Pas de Dance - Gannat (03)</li>
                </ul>
                Add to the lessons, Shamy give traineeship for beginner or initiate.
            </div>
            <div class="titre"><h2> INSTAGRAM </h2> <a href="https://www.instagram.com/shamyly63/?hl=fr" class="insta" target="_blank"> @@shamyly63 </a></div>
        </div>
    </div>

    <div class="partiecorps membre" style="display: none;">
        <h1> Karl Lewis  </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Name </strong></td>
                                <td> Karl Lewis </td>
                            </tr>
                            <tr>
                                <td><strong> Speciality </strong></td>
                                <td> Powermoves </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a href="https://vimeo.com/181065528" target="_blank"><img src="~/Content/photos_membres/karllewis.jpg" alt="karllewis" class="photomembre" /></a>
                    </td>
                </tr>
            </table>

            <ul class="palmares">
                <li class="titre"><h2> <a href="~/ContentCV/cvKarlLewis.pdf" class="cv" target="_blank">Curriculum Vitae</a> </h2></li>
            </ul>
            <table>
                <tr>
                    <td><strong>2018</strong></td>
                    <td>- Winner of battle King of Clermont </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2016/2018</strong></td>
                    <td> - Participation to the Red Bull Camp category powermove </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2015</strong></td>
                    <td>
                        <table>
                            <tr><td> - Owner of the battle juice alone category powermove (Lyon) </td></tr>
                            <tr><td> - Owner battle freestyle break alone category powermove (Lyon) </td></tr>
                            <tr><td> - Participation to the 'trophée Master' with the company Origin's </td></tr>
                            <tr><td> - Participation to the qualification of 'Chelles battle pro' with the company Origin's </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2014</strong></td>
                    <td> - Representation at the 'Coopérative de Mai' with the company Origin's for Volvic  </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2013</strong></td>
                    <td>
                        <table>
                            <tr><td> - Participation to the Mnovack in Lyon (internationale competition) alone </td></tr>
                            <tr><td> - Finaliste of the battle Urban (Belgium) </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2012/2013</strong></td>
                    <td>
                        <table>
                            <tr><td> - Participation to the Battle of the Year with the company Dark Unit </td></tr>
                            <tr><td> - Show with the company Dark Unit for Picture Organic </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2012</strong></td>
                    <td>
                        <table>
                            <tr><td> - Owner of BBoy France Limousin alone </td></tr>
                            <tr><td> - Participation to the Eurockéennes at Belfort in partnership with Smart France with the company Dark Unit </td></tr>
                            <tr><td> - Finaliste of the R16 Europe in Italie with the company Dark Unit </td></tr>
                            <tr><td> - Owner of the R16 France in team with the company Dark Unit </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2011</strong></td>
                    <td> - Demi-finaliste of the UK championship in Holland with the company Dark Unit </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2010</strong></td>
                    <td> - Participation to the Eight One powermove in France (8 mondials best) </td>
                </tr>
            </table>

            <div class="titre"><h2> Other </h2></div>
            <div class="autre">
                Karl Lewis give also lessons next to Clermont-Ferrand in differents associations:
                <ul class="listeCours">
                    <li class="lieuxCours"> foyer rural of Sayat </li>
                    <li class="lieuxCours"> in the city Martres d'Artières </li>
                    <li class="lieuxCours"> un Pas de Dance - Gannat (03)</li>
                </ul>
            </div>
            <div class="titre"><h2> INSTAGRAM </h2> <a href="https://www.instagram.com/karl_lewis8763/?hl=fr" class="insta" target="_blank"> @@karl_lewis8763 </a></div>
        </div>
    </div>
    <div class="partiecorps membre" style="display: none;">
        <h1> Chris </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Name </strong></td>
                                <td> Chris </td>
                            </tr>
                            <tr>
                                <td><strong> Speciality </strong></td>
                                <td> Tricks / Martial Arts </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a href="https://www.youtube.com/watch?v=4ofbQPuU8vE" target="_blank"><img src="~/Content/photos_membres/chris.jpg" alt="chris" class="photomembre" /></a>
                    </td>
                </tr>
            </table>

            <ul class="palmares">
                <li class="titre"><a href="~/ContentCV/cvChris.pdf" class="cv" target="_blank"><h2> Curriculum Vitae </h2></a></li>
            </ul>
            <table>
                <tr>
                    <td><strong>2018</strong></td>
                    <td> -Show with a turkish singer - Turrkey </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2017</strong></td>
                    <td>
                        <table>
                            <tr><td> - Show for the prince of Saudi Arabia </td></tr>
                            <tr><td> - Demi-finaliste Shut up and Tricks - Eindhoven (Holland)</td></tr>
                            <tr><td> - Judge for the No Gravity - Lisbonne (Portugal)</td></tr>
                            <tr><td> - Finaliste (2vs2) at Adrenaline - San Francisco (California)</td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2016</strong></td>
                    <td>
                        <table>
                            <tr><td> - Finaliste (2vs2) at Adrenaline - San Francisco (California) </td></tr>
                            <tr><td> - Judge for the CITG - Shangai (China) </td></tr>
                            <tr><td> - Winner (1vs1) Battle of North - Bergen (Norway) </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2015</strong></td>
                    <td>
                        <table>
                            <tr><td> - Closing ceremonyh for the 1st european game - Baku (Azerbaijan) </td></tr>
                            <tr><td> - Participation to the Hooked gathering - Amsterdam (Holland) </td></tr>
                            <tr><td> - Participation to the RedBull Kick it - Corea </td></tr>
                            <tr><td> - Participation to the RedBull Throwdown - Tampa (Florida) </td></tr>
                            <tr><td> - Winner (1vs1) Notorious IBE  - Holland </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2014</strong></td>
                    <td>
                        <table>
                            <tr><td> - Winner (1vs1) Hooked gathering - Amsterdam (Holland) </td></tr>
                            <tr><td> - Demi-finaliste RedBull Throwdown - Atlanta (Georgia) </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2013</strong></td>
                    <td>
                        <table>
                            <tr><td> - Battle of the Year - Nîmes (France) </td></tr>
                            <tr><td> - Festival the Eurockéennes - Belfort (France) </td></tr>
                            <tr><td> - Participation to the Joining all Movement - Los Angeles (California) </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2012</strong></td>
                    <td> - Participation to the RedBull HKPK - Las Vegas (Nevada) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2010</strong></td>
                    <td> - Show for TF1 for the world cup - Paris (France) </td>
                </tr>
            </table>

            <div class="titre"><h2> Other </h2></div>
            <div class="autre">
                Add to the international competition Chris win multiple contest in france like : Flying Dragon, L'envolée, Battle de Lyon, Yourick,...
                He did also lot of show with the company Origin's.
                Chris gave different workshop in the world (Montpelier, Paris, Lyon, Bergen, Shanghaï,...).
            </div>
            <div class="titre"><h2> INSTAGRAM </h2> <a href="https://www.instagram.com/strichris/?hl=fr" class="insta" target="_blank"> @@strichris </a></div>
        </div>
    </div>

    <div class="partiecorps membre" style="display: none;">
        <h1> Vithia </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Name </strong></td>
                                <td> Vithia </td>
                            </tr>
                            <tr>
                                <td><strong> Speciality </strong></td>
                                <td> Tricks </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <img src="~/Content/photos_membres/vithia.jpg" alt="vithia" class="photomembre" />
                    </td>
                </tr>
            </table>

            <ul class="palmares">
                <li class="titre"><h2> <a href="CV/cvVithia.pdf" class="cv" target="_blank">Curriculum Vitae</a> </h2></li>
            </ul>
            <table>
                <tr>
                    <td><strong>2018</strong></td>
                    <td> - Participation to the national contest Red Bull BC One à Paris (75) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2017</strong></td>
                    <td> - Owner of the Battle de Boby in Savigny-Le-Temple (77) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2016</strong></td>
                    <td> - Participation to the battle Chill In the City in Paris (75) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2015</strong></td>
                    <td>
                        <table>
                            <tr><td> - Participation to the Chelles Battle Pro with the company Origin's in Paris (75) </td></tr>
                            <tr><td> - Participation to the Trophée Master with the company Origin's in Toulouse (31) </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2014</strong></td>
                    <td> - Participation to the international contest Break The Floor with the crew Lords Of Lyon (69) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2013</strong></td>
                    <td> - Finaliste of the Battle de Bron with the crew Lordz Of Lyon (69) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2012</strong></td>
                    <td> - Representation for helping people with reduced mobility with the association Les Gardiens de Limoges (87) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2011</strong></td>
                    <td> - Representation for the national season of feminal basker at LABC with the association Les Gardiens de Limoges (87) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2010</strong></td>
                    <td> - Participation to the humanitary event Urgence Haïti in Limoges (87) </td>
                </tr>
            </table>

            <div class="titre"><h2> Other </h2></div>
            <div class="autre">
                Add to the contest Vithia gave breakdance lessons in various institutions in Limoges between 2010 and 2013. After that in 2014, he was part of several dance traineeship in Vileurbanne next to Lyon (69) with the company Pokemon Crew.
            </div>
            <div class="titre"><h2> INSTAGRAM </h2> <a href="https://www.instagram.com/vithiapasletemps/?hl=fr" class="insta" target="_blank"> @@vithiapasletemps </a></div>
        </div>

    </div>

    <div class="partiecorps membre" style="display: none;">
        <h1> D.O </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Name </strong></td>
                                <td> D.O </td>
                            </tr>
                            <tr>
                                <td><strong> Speciality </strong></td>
                                <td> Tricks </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <img src="~/Content/photos_membres/DO.jpg" alt="do" class="photomembre" />
                    </td>
                </tr>
            </table>

            <ul class="palmares">
                <li class="titre"><h2> <a href="CV/cvDo.pdf" class="cv" target="_blank">Curriculum Vitae</a> </h2></li>
            </ul>
            <table>
                <tr>
                    <td><strong>2016</strong></td>
                    <td> - 3rd (2vs2) Battle Châtellerault (86) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2015</strong></td>
                    <td>
                        <table>
                            <tr><td> - Demi-finaliste Battle Dual-Challenge - Clermont-Ferrand (63) </td></tr>
                            <tr><td> - Creation dance Project Streetball in Limoges (87) </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2014</strong></td>
                    <td> - Winner (1vs1) Parc des Expos (87) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2012</strong></td>
                    <td> - Demi-finaliste qualification BBoy France Limousin in Limoges (87) </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2011</strong></td>
                    <td>
                        <table>
                            <tr><td> - Freestyle Intervention France 3 TV stage </td></tr>
                            <tr><td> - Show Handball France vs Slovaquie </td></tr>
                            <tr><td> - Show Project connection of high school/english class in St Helens and Liverpool </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2010</strong></td>
                    <td>
                        <table>
                            <tr><td> - Winner SDBC "La nuit des clash" </td></tr>
                            <tr><td> - Show SDBC Urgence Haïti Zénith of Limoges (87) </td></tr>
                            <tr><td> - Show Basket CSP Limoges vs Clermont </td></tr>
                        </table>
                    </td>
                </tr>
                <tr class="topligne">
                    <td><strong>2009</strong></td>
                    <td> - Winner (1vs1) Battle Journée Urbaine in Condat/Vienne (87) </td>
                </tr>
            </table>

            <div class="titre"><h2> Other </h2></div>
            <div class="autre">
                D.O also give lessons in school or associations, and with that breakdance traineeship
            </div>
            <div class="titre"><h2> INSTAGRAM </h2> <a href="https://www.instagram.com/do_bboy/?hl=fr" class="insta" target="_blank"> @@do_bboy </a></div>
        </div>
    </div>

    <div class="partiecorps membre" style="display: none;">
        <h1> Mars </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Name </strong></td>
                                <td> Mars </td>
                            </tr>
                            <tr>
                                <td><strong> Speciality </strong></td>
                                <td> Powermoves / Martial Arts </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <img src="~/Content/photos_membres/mars.jpg" alt="mars" class="photomembre" />
                    </td>
                </tr>
            </table>

            <ul class="palmares">
                <li class="titre"><h2> <a href="" class="cv" target="_blank">Curriculum Vitae</a> </h2></li>
            </ul>


            <div class="titre"><h2> Other </h2></div>
            <div class="autre">

            </div>
            <div class="titre"><h2> INSTAGRAM </h2> <a href="" class="insta" target="_blank"> @@ </a></div>
        </div>
    </div>

    <div class="partiecorps membre" style="display: none;">
        <h1> Flo </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Name </strong></td>
                                <td> Flo </td>
                            </tr>
                            <tr>
                                <td><strong> Speciality </strong></td>
                                <td> Tricks / Martial Arts </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <img src="~/Content/photos_membres/flo.jpg" alt="flo" class="photomembre" />
                    </td>
                </tr>
            </table>

            <ul class="palmares">
                <li class="titre"><h2> <a href="" class="cv" target="_blank">Curriculum Vitae</a> </h2></li>
            </ul>


            <div class="titre"><h2> Other </h2></div>
            <div class="autre">

            </div>
            <div class="titre"><h2> INSTAGRAM </h2> <a href="" class="insta" target="_blank"> @@ </a></div>
        </div>
    </div>

    <div class="partiecorps membre" style="display: none;">
        <h1> Seif </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Name </strong></td>
                                <td> Seif </td>
                            </tr>
                            <tr>
                                <td><strong> Speciality </strong></td>
                                <td> Tricks </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <img src="~/Content/photos_membres/seif.jpg" alt="seif" class="photomembre" />
                    </td>
                </tr>
            </table>

            <ul class="palmares">
                <li class="titre"><h2> <a href="" class="cv" target="_blank">Curriculum Vitae</a> </h2></li>
            </ul>


            <div class="titre"><h2> Other </h2></div>
            <div class="autre">

            </div>
            <div class="titre"><h2> INSTAGRAM </h2> <a href="" class="insta" target="_blank"> @@ </a></div>
        </div>
    </div>

    <div class="partiecorps membre" style="display: none;">
        <h1> Nassir </h1>
        <div><img src="~/Content/photos_membres/nassir.jpg" alt="nassir" class="photoNassir col-10" /></div>
        <div class="titre"><h2> The Professional Photographer </h2></div>
        <div class="titre"><h2> INSTAGRAM </h2> <a href="https://www.instagram.com/nassir_mkv/?hl=fr" class="insta" target="_blank"> @@nassir_mkv </a></div>
    </div>

    <div class="partiecorps membre" style="display: none;">
        <h1> Dylan </h1>
        <div class="presentation">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><strong> Nom </strong></td>
                                <td> Dylan </td>
                            </tr>
                            <tr>
                                <td><strong> Spécialitée </strong></td>
                                <td> Tricks </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <img src="~/Content/photos_membres/dylan.jpg" alt="dylan" class="photomembre" />
                    </td>
                </tr>
            </table>

            <div class="titre"><h2> Presentation </h2></div>
            <div class="col-11">
                Dylan followed the O'Squad trainning. He gives lessons in Sayat, Gannat and Martres d'Artières.
            </div>

            <div class="titre"><h2> INSTAGRAM </h2> <a href="https://www.instagram.com/dylanwooow/" class="insta" target="_blank"> @@Dylanwooow </a></div>
        </div>
    </div>
</div>
